@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Nunito_Sans";
    src: url('./components/Font/Ubuntu-Regular.ttf');
}

/* * {
  scrollbar-width: none;
} */